<h1>TACOS</h1>

<p>There are so many delicious tacos!</p>

<% fillings = ["Carnitas","Pescado","Al Pastor","Avocado","Mushroom"] %>

<ul>
<% for filling in fillings %>
<li><%= filling %></li>
<% end %>
</ul>